@layer components {
  /* Buttons */

  .button-base {
    @apply px-5 py-2 text-sm font-medium border border-transparent rounded-lg whitespace-nowrap;
  }

  .button-blue {
    @apply text-white bg-blue-600 border-transparent hover:bg-blue-700 focus:bg-blue-700;
  }

  .button-red {
    @apply text-white bg-red-600 border-transparent hover:bg-red-700 focus:bg-red-700;
  }

  .button-gray {
    @apply text-gray-600 bg-gray-100 border-gray-200 hover:bg-gray-200 focus:bg-gray-200 dark:text-gray-300 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:bg-gray-700;
  }

  .button-outlined-blue {
    @apply text-blue-600 border-blue-600 bg-blue-50 hover:bg-blue-100 focus:bg-blue-100;
  }

  .button-outlined-red {
    @apply text-red-600 border-red-600 bg-red-50 hover:bg-red-100 focus:bg-red-100;
  }

  .button-outlined-gray {
    @apply text-gray-600 bg-white border-gray-300 hover:bg-gray-100 focus:bg-gray-100 dark:bg-black dark:text-gray-300 dark:hover:bg-gray-800 dark:focus:bg-gray-800;
  }

  .button-base:disabled {
    @apply text-gray-400 bg-gray-100 border-transparent cursor-default pointer-events-none dark:text-gray-500 dark:bg-gray-800;
  }

  .button-small {
    @apply px-2 py-1 text-gray-600 border-gray-200 bg-gray-50 hover:bg-gray-100 focus:bg-gray-100 dark:text-gray-300 dark:bg-black hover:dark:bg-gray-700 focus:dark:bg-gray-700;
  }

  .button-square-icon {
    @apply flex items-center justify-center p-2;
  }

  .button-square-icon i {
    @apply text-xl leading-none;
  }

  .choice-button {
    @apply px-5 py-2 text-gray-700 bg-white border border-gray-200 rounded-lg dark:bg-black dark:text-gray-200;
  }

  .choice-button.active {
    @apply bg-blue-100 border-blue-600;
  }

  .icon-button {
    @apply flex items-center justify-center p-1 text-gray-500 rounded-full hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50;
  }

  .icon-button:focus {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .icon-button:disabled,
  .icon-button.disabled {
    @apply text-gray-300 cursor-default pointer-events-none dark:text-gray-600;
  }

  .icon-button i {
    line-height: 1;
  }

  .icon-outlined-button {
    @apply border-2 rounded-full;
  }

  /* Links */

  .link {
    @apply font-medium text-gray-900 underline hover:no-underline dark:text-gray-50;
  }

  /* Form fields */

  .input {
    @apply w-full px-3 py-2 text-sm text-gray-600 placeholder-gray-400 border border-gray-200 rounded-lg bg-gray-50 phx-form-error:border-red-300 dark:text-gray-300 dark:bg-gray-900;
  }

  .input[type="color"] {
    @apply w-16 py-0;
  }

  .input--error {
    @apply text-red-600 border-red-600 bg-red-50;
  }

  .input-range {
    height: 8px;
    @apply bg-gray-200 rounded-lg appearance-none;
  }

  .input-range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    @apply bg-blue-600 border-transparent appearance-none cursor-pointer hover:bg-blue-700 rounded-xl;
  }

  .input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    @apply bg-blue-600 border-transparent appearance-none cursor-pointer hover:bg-blue-700 rounded-xl;
  }

  .input-select {
    @apply w-60;
  }

  .input-label {
    @apply mb-0.5 text-sm text-gray-800 font-medium dark:text-gray-100;
  }

  .input-error {
    @apply mt-2 text-xs italic text-red-600;
  }

  .switch-button {
    @apply relative inline-block select-none w-14 h-7;
  }

  .switch-button--disabled {
    @apply opacity-50 pointer-events-none;
  }

  .switch-button__checkbox {
    @apply appearance-none absolute block w-7 h-7 rounded-full bg-white border-[5px] border-gray-200 cursor-pointer transition-all duration-300;
  }

  .switch-button__bg {
    @apply block w-full h-full bg-gray-200 rounded-full cursor-pointer transition-all duration-300 dark:bg-gray-700;
  }

  .switch-button__checkbox:checked {
    @apply bg-white border-blue-600;
    transform: translateX(100%);
  }

  .switch-button__checkbox:checked + .switch-button__bg {
    @apply bg-blue-600;
  }

  .radio-base {
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='9.5' stroke='%23CAD5E0' fill='white' /%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .radio-base:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='9.5' stroke='%233E64FF' fill='white' /%3e%3ccircle cx='10' cy='10' r='6' fill='%233E64FF' /%3e%3c/svg%3e");
  }

  .checkbox-base {
    @apply w-5 h-5 text-blue-600 border border-gray-300 rounded appearance-none cursor-pointer;
  }

  .checkbox-base:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Custom scrollbars */

  .tiny-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  .tiny-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    @apply bg-gray-400;
  }

  .tiny-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  /* Tabs */

  .tabs {
    @apply flex w-full;
  }

  .tabs .tab {
    @apply flex items-center px-3 py-2 text-gray-400 border-b-2 border-gray-100 space-x-2 dark:text-gray-500;
  }

  .tabs .tab.active {
    @apply text-blue-600 border-blue-600;
  }

  /* Toggleable menu */

  .menu {
    @apply relative;
  }

  .menu__content {
    @apply absolute z-[100] rounded-lg bg-white flex flex-col py-2;
    box-shadow: 0px 15px 99px rgba(13, 24, 41, 0.15);
  }

  .menu__content--top-right {
    @apply top-0 right-0 -mt-1 transform -translate-y-full;
  }

  .menu__content--top-left {
    @apply top-0 left-0 -mt-1 transform -translate-y-full;
  }

  .menu__content--bottom-right {
    @apply bottom-0 right-0 -mb-1 transform translate-y-full;
  }

  .menu__content--bottom-left {
    @apply bottom-0 left-0 -mb-1 transform translate-y-full;
  }

  .menu:not(.menu--open) > .menu__overlay,
  .menu:not(.menu--open) > .menu__content {
    @apply hidden;
  }

  .menu.menu--open > .menu__overlay {
    @apply fixed z-[90] inset-0;
  }

  .menu-item {
    @apply flex items-center w-full px-5 py-2 space-x-3 hover:bg-gray-100 focus:bg-gray-100 whitespace-nowrap;
  }

  .menu-item:disabled {
    @apply opacity-50 pointer-events-none;
  }

  .menu-item--disabled {
    @apply opacity-50 pointer-events-none;
  }

  .submenu {
    @apply relative;
  }

  .submenu:not(:hover):not(:focus-within) .submenu__content {
    @apply hidden;
  }

  .submenu__content {
    @apply absolute right-0 pl-2 -top-2 translate-x-full;
  }

  /* Boxes */

  .error-box {
    @apply px-4 py-2 font-medium text-red-400 bg-red-100 rounded-lg;
  }

  .info-box {
    @apply p-4 text-sm font-medium text-gray-500 bg-gray-100 rounded-lg dark:text-gray-400 dark:bg-gray-800;
  }

  /* Cards */
  .card-item {
    @apply cursor-pointer;
  }

  .card-item:not(.selected) .card-item-logo {
    @apply border-gray-100;
  }

  .card-item:not(.selected) .card-item-body {
    @apply bg-gray-100;
  }

  .card-item.selected .card-item-logo {
    @apply border-gray-200;
  }

  .card-item.selected .card-item-body {
    @apply bg-gray-200;
  }
}
